<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/forpass.css">
</head>
<body>
    <video src="/ghost-modern-warfare-from-call-of-duty.1920x1080.mp4" autoplay loop muted></video>
    <div class="wrapper" action="/forgot" type="post">
        <div class="loginbox">
            <div class="loginheader">
                <span>Forgot password</span>
            </div>
            <div class="inputbox">
                <input type="text" id="user" class="input-fi" required>
                <label for="user" class="label">Email</label>
                <i class="bx bx-envelope icon"></i>
            </div>
            <div class="inputbox">
                <button class="inputsubmit">Reset Password</button>
            </div>
        </div>
    </div>
</body>
</html>