<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/regi.css">
    <title>Document</title>
</head>

<body>
    <video src="/ghost-modern-warfare-from-call-of-duty.1920x1080.mp4" autoplay loop muted></video>
    <div class="wrapper">
        <div class="regibox">
            <form action="/regi" method="post">
                <div class="regiheader">
                    <span>Registration</span>
                </div>
                {{#if error}}
                <div class="error-message" style="color: red; text-align: center; margin-bottom: 10px;">
                    {{error}}
                </div>
                {{/if}}
                <div class="inputbox">
                    <input type="text" id="user" name="email" class="input-fi" required>
                    <label for="user" class="label">email</label>
                    <i class="bx bx-envelope" style="color: white;"></i>
                </div>
                <div class="inputbox">
                    <input type="password" id="pass" name="password" class="input-fi" required>
                    <label for="pass" class="label">Password</label>
                    <i class="bx bx-lock-alt icon" onclick="showpass()"></i>
                </div>
                <div class="inputbox">
                    <input type="password" id="pw" name="conpassword" class="input-fi" required>
                    <label for="CP" class="label">Confirm password</label>
                    <i class="bx bx-lock-alt icon" onclick="pass()"></i>
                </div>
                <div class="inputbox">
                    <button type="submit" class="inputSIGNUP">Sign up</button>
                </div>
                <div class="register">
                    <span style="color: white;">Already have an account ? <a href="/login">Log in</a></span>
                </div>
  </form>
        </div>
    </div>
    <script>
        function showpass() {
            var x = document.getElementById("pass");
            if (x.type === "password") {
                x.type = "text";
            }
            else {
                x.type = "password";
            }
        }
        function pass() {
            var x = document.getElementById("pw");
            if (x.type === "password") {
                x.type = "text";
            }
            else {
                x.type = "password";
            }
        }
        
    </script>
    
</body>

</html>